@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 197 89% 95%;
    --foreground: 215 28% 17%;
    --card: 0 0% 100%;
    --card-foreground: 215 28% 17%;
    --popover: 0 0% 100%;
    --popover-foreground: 215 28% 17%;
    --primary: 197 77% 52%;
    --primary-foreground: 0 0% 100%;
    --secondary: 215 25% 90%;
    --secondary-foreground: 215 28% 17%;
    --muted: 215 25% 90%;
    --muted-foreground: 215 25% 65%;
    --accent: 30 100% 60%;
    --accent-foreground: 20 100% 5%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 215 30% 88%;
    --input: 215 30% 92%;
    --ring: 197 77% 52%;
    --chart-1: 197 77% 52%;
    --chart-2: 30 100% 60%;
    --chart-3: 12 76% 61%;
    --chart-4: 173 58% 39%;
    --chart-5: 43 74% 66%;
    --radius: 0.5rem;

    --sidebar-background: 215 28% 97%;
    --sidebar-foreground: 215 28% 25%;
    --sidebar-primary: 197 77% 52%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 215 25% 90%;
    --sidebar-accent-foreground: 215 28% 17%;
    --sidebar-border: 215 20% 80%;
    --sidebar-ring: 197 77% 52%;
  }
  .dark {
    --background: 215 28% 17%;
    --foreground: 210 40% 98%;
    --card: 215 28% 11%;
    --card-foreground: 210 40% 98%;
    --popover: 215 28% 17%;
    --popover-foreground: 210 40% 98%;
    --primary: 197 77% 52%;
    --primary-foreground: 215 28% 11%;
    --secondary: 215 28% 22%;
    --secondary-foreground: 210 40% 98%;
    --muted: 215 28% 22%;
    --muted-foreground: 215 25% 65%;
    --accent: 30 100% 60%;
    --accent-foreground: 30 100% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 215 28% 25%;
    --input: 215 28% 25%;
    --ring: 197 77% 52%;
    --chart-1: 197 77% 52%;
    --chart-2: 30 100% 60%;
    --chart-3: 220 70% 50%;
    --chart-4: 160 60% 45%;
    --chart-5: 280 65% 60%;
    
    --sidebar-background: 215 28% 11%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 197 77% 52%;
    --sidebar-primary-foreground: 215 28% 11%;
    --sidebar-accent: 215 28% 22%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 215 28% 25%;
    --sidebar-ring: 197 77% 52%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
